@import url('https://fonts.googleapis.com/css?family=Baloo+Tammudu+2&display=swap');
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: red;
    font-family: 'Righteous', cursive;
    font-size: large;
    text-align: center;
    color: white;
    
}
h1{
    padding: 2rem;
}
form{
    padding: 2rem;
}
h3{
    text-align: center;
    margin-bottom: 20px;
}
footer{
    text-align: center;
    padding: 2rem;
    background-color: red;
    font-size: small;
    color: white;
    margin-top: 0;
    height: 2.5rem;
}
.fa-twitter-square{
    font-size: 3rem;
    color: red;
    
}
.fa-twitter-square:hover{
    color: blue;
    font-size: 3.5rem;
    opacity: .75;
    transition: color 1000ms linear;
    transition: font-size 3s ;
     
}
#contato{
    background-color: white;
    color: red;
    padding: .5rem;
    margin: 0 auto;
}
#wrap{
    padding-bottom: 2.5rem;     
}
a:hover{
    font-size: larger;
    transition: font-size 3s ;
}
a:link{
    text-decoration: none;
    color: aqua;
}
a:visited{
    color: rgb(45, 56, 156);
}